.video-container {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 315px; /* This ensures that the container has height even when the iframe is not visible */
  flex-direction: column;
}

.loading-container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  margin-top: 10px; /* Spacing between text and loader */
}

.hidden {
  display: none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.source {
  font-size: 13px;
}